
body {
	background: #ffb744 url(../images/bg-body.jpg) repeat left bottom;
	/*font-family: "Times New Roman", Times, serif;*/
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	background-size: cover;
	background-attachment: fixed;
}
#background {
	background: url(../images/bg-pattern.jpg) repeat-x center top;
	min-height: 1318px;
}
#page {
	width: 960px;
	margin: 0 auto;
}
img {
	border: 0;
}
/*------------------------------ Sprites ------------------------------*/
#navigation li, #navigation li a:hover, #navigation li.selected a {
	background-image: url(../images/bg-menu.png);
	background-repeat: repeat-x;
}
#contents div.box, #contents div.box > div, #contents div.body {
	background-image: url(../images/content-box.png);
	background-repeat: no-repeat;
}
#main div.box, #main div.box > div, #main div.box > div > div {
	background-image: url(../images/bg-box.png);
	background-repeat: no-repeat;
}
/*------------------------------ HEADER ------------------------------*/
#header {
	margin-bottom: 20px;
	padding-top: 20px;
}
/** Logo **/
#logo {
	;
    float: left;
    margin-top:10px;
	margin-bottom: 49px;
	margin-left: 38%;
}
/** Navigation **/
#navigation {
	background: url(../images/bg-navigation.png) no-repeat;
	clear: both;
	height: 50px;
	width: 858px;
	margin: 0 auto;
	padding: 1px;
}
#navigation ul {
	display: inline-block;
	width: 858px;
	list-style: none;
	margin: 0;
	padding: 0;
}
#navigation li {
	float: left;
	background-position: 0 -118px;
	background-repeat: no-repeat;
	height: 49px;
	width: 285px;
	margin: 0;
	padding-left: 1px;
	text-align: center;
}
#navigation li:first-child {
	background: none;
	margin-left: 0;
	padding-left: 0;
}
#navigation li a {
	color: #fff;
	display: block;
	font: bold 14px/48px Arial, Helvetica, sans-serif;
	height: 49px;
	text-decoration: none;
	text-transform: uppercase;
}
#navigation li a:hover {
	background-position: 0 -59px;
	color: #6d6157;
}
#navigation li.selected a {
	background-position: 0 0;
	color: #e4e1bd;
}

